<%# Partial cho một thẻ sản phẩm %>
<div class="single-popular-items mb-50 text-center">
  <div class="popular-img">
    <a href="/products/<%= product.name %>">
      <img src="<%= product.image && product.image.imageData ? `data:${product.image.imageType};base64,${product.image.imageData.toString('base64')}` : '/img/product-placeholder.png' %>" alt="<%= product.name %>">
    </a>
  </div>
  <div class="popular-caption">
    <h3><%= product.name %></h3>
    <p><%= product.description %></p>
    <!-- Không hiển thị type ở ngoài card -->
  </div>
</div>