<%# Partial cho một thẻ sản phẩm %>
<div class="single-popular-items mb-50 text-center"> <div class="popular-img">
        <a href="/products/<%= product.slug %>">
            <img src="<%= (product.images && product.images.length > 0) ? product.images[0] : '/img/product-placeholder.png' %>" alt="<%= product.name %>">
        </a>
        <div class="img-cap">
            <form action="/cart/add" method="POST" class="add-to-cart-form">
                <input type="hidden" name="productId" value="<%= product._id %>">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="btn btn-link"><span>Thêm vào giỏ</span></button>
            </form>
        </div>
        <div class="favorit-items">
            <span class="flaticon-heart"></span>
        </div>
    </div>
    <div class="popular-caption">
        <h3><a href="/products/<%= product.slug %>"><%= product.name %></a></h3>
        <% if (product.category) { %>
            <p class="product-category"><a href="/products?category=<%= product.category.slug %>"><%= product.category.name %></a></p>
        <% } %>
        <p class="product-size">Size: <%= product.size %></p>
        <span><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(product.price) %></span>
         <% if (product.stock <= 0) { %>
            <p class="text-danger font-weight-bold">Hết hàng</p>
        <% } else if (product.stock < 10) { %>
             <p class="text-warning">Sắp hết hàng (còn <%= product.stock %>)</p>
        <% } %>
    </div>
</div>