<%- include('../partials/header') %>
    <main>
        <h1>Users show</h1>
        <div>
            <%=user.id %>
        </div>
        <div>
            <%=user.account %>
        </div>
        <div>
            <%=user.password %>
        </div>

    </main>
    <%- include('../partials/footer') %>