<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('../partials/head') %>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <%- include('../partials/sidebar') %>
                <div class="main-panel">
                    <div class="main-header">
                        <div class="main-header-logo">
                            <!-- Logo Header -->
                            <div class="logo-header" data-background-color="dark">
                                <div class="nav-toggle">
                                    <button class="btn btn-toggle toggle-sidebar">
                                        <i class="gg-menu-right"></i>
                                    </button>
                                    <button class="btn btn-toggle sidenav-toggler">
                                        <i class="gg-menu-left"></i>
                                    </button>
                                </div>
                                <button class="topbar-toggler more">
                                    <i class="gg-more-vertical-alt"></i>
                                </button>
                            </div>
                            <!-- End Logo Header -->
                        </div>
                        <!-- Navbar Header -->
                        <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                            <div class="container-fluid">
                                <nav
                                    class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button type="submit" class="btn btn-search pe-1">
                                                <i class="fa fa-search search-icon"></i>
                                            </button>
                                        </div>
                                        <input type="text" placeholder="Search ..." class="form-control" />
                                    </div>
                                </nav>
                            </div>
                        </nav>
                        <!-- End Navbar -->
                    </div>

                    <div class="container">
                        <div class="page-inner">
                            <div class="page-header">
                                <!-- Name Table -->
                                <%- include('../partials/name-table') %>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="d-flex align-items-center">
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <!-- Data Table -->
                                            <div class="table-responsive">
                                                <table id="add-row" class="display table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <td>Full Name</td>
                                                            <td>Address</td>
                                                            <td>Phone</td>
                                                            <td>Payment Method</td>
                                                            <td>Payment Status</td>
                                                            <td>Status</td>
                                                            <td>Total Amount</td>
                                                            <th style="width: 10%">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <td>Full Name</td>
                                                            <td>Address</td>
                                                            <td>Phone</td>
                                                            <td>Payment Method</td>
                                                            <td>Payment Status</td>
                                                            <td>Status</td>
                                                            <td>Total Amount</td>
                                                            <th style="width: 10%">Action</th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                        <% orders.forEach(order=>{ %>
                                                            <tr>
                                                                <td>
                                                                    <%=order.shippingAddress.fullName %>
                                                                </td>
                                                                <td>
                                                                    <%=order.shippingAddress.address %>
                                                                </td>
                                                                <td>
                                                                    <%=order.shippingAddress.phone %>
                                                                </td>
                                                                <td>
                                                                    <%=order.paymentMethod %>
                                                                </td>
                                                                <td>
                                                                    <%=order.paymentStatus %>
                                                                </td>
                                                                <td id="chang-status">
                                                                    <%=order.status %>
                                                                </td>
                                                                <td>
                                                                    <%=order.totalAmount %>
                                                                </td>
                                                                <td>
                                                                    <div class="form-button-action">
                                                                        <div id="chang-status-icon">
                                                                            <% if(order.status=="pending" ){ %>
                                                                                <form action="/orders/approved"
                                                                                    method="post">
                                                                                    <input type="hidden" name="id"
                                                                                        value="<%=order.id %>">
                                                                                    <div class="form-button-action">
                                                                                        <div class="form-button-action">
                                                                                            <button type="submit"
                                                                                                data-bs-toggle="tooltip"
                                                                                                title="approve"
                                                                                                class="btn btn-link btn-warning">
                                                                                                <i
                                                                                                    class="fa fa-hourglass-half"></i>
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                                <% } else if(order.status=="waiting" ){
                                                                                    %>
                                                                                    <div class="form-button-action">
                                                                                        <button type="submit"
                                                                                            data-bs-toggle="tooltip"
                                                                                            title="approved"
                                                                                            class="btn btn-link btn-success">
                                                                                            <i
                                                                                                class="fa fa-hourglass-half"></i>
                                                                                        </button>
                                                                                    </div>
                                                                                    <% } else{ %>
                                                                                        <div class="form-button-action">
                                                                                            <button type="submit"
                                                                                                data-bs-toggle="tooltip"
                                                                                                title="done"
                                                                                                class="btn btn-link btn-secondary">
                                                                                                <i
                                                                                                    class="fa fa-hourglass-half"></i>
                                                                                            </button>
                                                                                        </div>
                                                                                        <% } %>
                                                                        </div>

                                                                        <form action="/orders/detail" method="post">
                                                                            <input type="hidden" name="id"
                                                                                value="<%=order.id %>">
                                                                            <div class="form-button-action">
                                                                                <div class="form-button-action">
                                                                                    <button type="submit"
                                                                                        data-bs-toggle="tooltip"
                                                                                        title="Detail"
                                                                                        class="btn btn-link btn-info">
                                                                                        <i class="fa fa-eye"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                        <form class="btn-destroy-order"
                                                                            action="/orders/cancelled" method="post">
                                                                            <input type="hidden" name="id"
                                                                                value="<%=order.id %>">
                                                                            <div class="form-button-action">
                                                                                <div class="form-button-action">
                                                                                    <button type="submit"
                                                                                        data-bs-toggle="tooltip"
                                                                                        title="Cancelled"
                                                                                        class="btn btn-link btn-danger">
                                                                                        <i class="fa fa-times"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer -->
                    <%- include('../partials/footer') %>
                </div>
        </div>
        <!-- Table Script -->
        <%- include('../partials/table-script') %>
            <!-- My Script -->
            <%- include('../partials/my-script') %>
    </body>

</html>