<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('../partials/head') %>

    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <%- include('../partials/sidebar') %>
                <div class="main-panel">
                    <div class="main-header">
                        <div class="main-header-logo">
                            <!-- Logo Header -->
                            <div class="logo-header" data-background-color="dark">
                                <div class="nav-toggle">
                                    <button class="btn btn-toggle toggle-sidebar">
                                        <i class="gg-menu-right"></i>
                                    </button>
                                    <button class="btn btn-toggle sidenav-toggler">
                                        <i class="gg-menu-left"></i>
                                    </button>
                                </div>
                                <button class="topbar-toggler more">
                                    <i class="gg-more-vertical-alt"></i>
                                </button>
                            </div>
                            <!-- End Logo Header -->
                        </div>
                        <!-- Navbar Header -->
                        <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                            <div class="container-fluid">
                                <nav
                                    class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button type="submit" class="btn btn-search pe-1">
                                                <i class="fa fa-search search-icon"></i>
                                            </button>
                                        </div>
                                        <input type="text" placeholder="Search ..." class="form-control" />
                                    </div>
                                </nav>
                            </div>
                        </nav>
                        <!-- End Navbar -->
                    </div>

                    <div class="container">
                        <div class="page-inner">
                            <div class="page-header">
                                <h3 class="fw-bold mb-3">Forms</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <!-- Name Form -->
                                        <div class="card-header">
                                            <div class="d-flex align-items-center">
                                                <%- include('../partials/name-form') %>
                                                    <a href="/categories" class="btn btn-danger btn-round ms-auto">
                                                        <i class="fa fa-arrow-left"></i>
                                                        Back
                                                    </a>
                                            </div>
                                        </div>
                                        <form action="/categories/update" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="id" value="<%= category.id %>">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12">
                                                        <div class="form-group">
                                                            <label for="name">Name</label>
                                                            <input type="text" name="name" value="<%= category.name %>"
                                                                class="form-control" id="name" placeholder="Name" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="image">Image file
                                                                input</label>
                                                            <input type="file" name="image" class="form-control-file"
                                                                id="image" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-action">
                                                <button class="btn btn-success">Submit</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer -->
                    <%- include('../partials/footer') %>
                </div>
        </div>
        <!-- Table Script -->
        <%- include('../partials/table-script') %>
            <!-- My Script -->
            <%- include('../partials/my-script') %>
    </body>

</html>