<%- include('../partials/header', { title: title }) %>
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="/images/hero/category.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Đăng Ký Tài Khoản</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="login_box_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="login_form_inner"> <h3>Tạo tài khoản mới</h3>
                    <form class="row login_form" action="/auth/register" method="post" id="registerForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Họ và Tên" value="<%= typeof oldInput !== 'undefined' ? oldInput.name : '' %>" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Họ và Tên'">
                            <% if (typeof errors !== 'undefined' && errors.find(e => e.path === 'name')) { %>
                                <small class="text-danger"><%= errors.find(e => e.path === 'name').msg %></small>
                            <% } %>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="account" name="account" placeholder="Tên đăng nhập" value="<%= typeof oldInput !== 'undefined' ? oldInput.account : '' %>" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tên đăng nhập'">
                            <% if (typeof errors !== 'undefined' && errors.find(e => e.path === 'account')) { %>
                                <small class="text-danger"><%= errors.find(e => e.path === 'account').msg %></small>
                            <% } %>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" id="gmail" name="gmail" placeholder="Email" value="<%= typeof oldInput !== 'undefined' ? oldInput.gmail : '' %>" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                            <% if (typeof errors !== 'undefined' && errors.find(e => e.path === 'gmail')) { %>
                                <small class="text-danger"><%= errors.find(e => e.path === 'gmail').msg %></small>
                            <% } %>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu (ít nhất 6 ký tự)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mật khẩu (ít nhất 6 ký tự)'">
                            <% if (typeof errors !== 'undefined' && errors.find(e => e.path === 'password')) { %>
                                <small class="text-danger"><%= errors.find(e => e.path === 'password').msg %></small>
                            <% } %>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Nhập lại mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập lại mật khẩu'">
                            <% if (typeof errors !== 'undefined' && errors.find(e => e.path === 'confirmPassword')) { %>
                                <small class="text-danger"><%= errors.find(e => e.path === 'confirmPassword').msg %></small>
                            <% } %>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Đăng Ký</button>
                        </div>
                        <div class="col-md-12 form-group text-center">
                            <p>Đã có tài khoản? <a href="/auth/login">Đăng nhập ngay</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/footer') %>