<%- include('../partials/header') %>
    <main>
        <h1>Product index</h1>
        <a href="/products/create">Create</a>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Price</td>
                    <td>Stock</td>
                    <td>Image</td>
                    <td>Edit</td>
                    <td>Destroy</td>
                    <td>Add to cart</td>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product=>{ %>
                    <tr>
                        <td>
                            <%=product.name %>
                        </td>
                        <td>
                            <%=product.description %>
                        </td>
                        <td>
                            <%=product.price %>
                        </td>
                        <td>
                            <%=product.stock %>
                        </td>
                        <td><img class="image" src="/products/image/<%=product.id %>"
                                alt="<%=product.image.imageName%>">
                        </td>
                        <td>
                            <a href="/products/edit/<%=product.id %>">Edit</a>
                        </td>
                        <td>
                            <a href="/products/destroy/<%=product.id %>">Destroy</a>
                        </td>
                        <td>
                            <form class="addToCart" action="/products/add" method="post">
                                <input type="hidden" name="id" value="<%=product.id %>">
                                <input type="number" name="number" style="width:50px">
                                <button type="submit">Add</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </main>
    <%- include('../partials/footer') %>