<%- include('../partials/header') %>
    <main>
        <h1>Product index</h1>
        <a href="/products/create">Create</a>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Price</td>
                    <td>Image</td>
                    <td>Edit</td>
                    <td>Destroy</td>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product=>{ %>
                    <tr>
                        <td>
                            <%=product.name %>
                        </td>
                        <td>
                            <%=product.description %>
                        </td>
                        <td>
                            <%=product.detail.price %>
                        </td>
                        <td><img class="image" src="/products/image/<%=product._id%>"
                                alt="<%=product.image?.imageName%>">
                        </td>
                        <td>
                            <a href="/products/edit/<%=encodeURIComponent(product.name) %>">Edit</a>
                        </td>
                        <td>
                            <a href="/products/destroy/<%=encodeURIComponent(product.name) %>">Destroy</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </main>
    <%- include('../partials/footer') %>